@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: dark;
  }

  html, body {
    background-color: #03131c;
    color: #f8fafc;
    min-height: 100vh;
  }
}
